In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("DataProcessingBasics") \
    .getOrCreate()
print("spark session created succesfully")

spark session created succesfully

In [2]:
data = spark.read.csv("E:\\insurance.csv", header=True, inferSchema=True)

In [3]:
data.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: double (nullable = true)
 |-- children: integer (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- expenses: double (nullable = true)

In [4]:
data.show(25)

+---+------+----+--------+------+---------+--------+
|age|   sex| bmi|children|smoker|   region|expenses|
+---+------+----+--------+------+---------+--------+
| 19|female|27.9|       0|   yes|southwest|16884.92|
| 18|  male|33.8|       1|    no|southeast| 1725.55|
| 28|  male|33.0|       3|    no|southeast| 4449.46|
| 33|  male|22.7|       0|    no|northwest|21984.47|
| 32|  male|28.9|       0|    no|northwest| 3866.86|
| 31|female|25.7|       0|    no|southeast| 3756.62|
| 46|female|33.4|       1|    no|southeast| 8240.59|
| 37|female|27.7|       3|    no|northwest| 7281.51|
| 37|  male|29.8|       2|    no|northeast| 6406.41|
| 60|female|25.8|       0|    no|northwest|28923.14|
| 25|  male|26.2|       0|    no|northeast| 2721.32|
| 62|female|26.3|       0|   yes|southeast|27808.73|
| 23|  male|34.4|       0|    no|southwest| 1826.84|
| 56|female|39.8|       0|    no|southeast|11090.72|
| 27|  male|42.1|       0|   yes|southeast|39611.76|
| 19|  male|24.6|       1|    no|southwest| 1837.24|
| 52|female|30.8|       1|    no|northeast|10797.34|
| 23|  male|23.8|       0|    no|northeast| 2395.17|
| 56|  male|40.3|       0|    no|southwest|10602.39|
| 30|  male|35.3|       0|   yes|southwest|36837.47|
| 60|female|36.0|       0|    no|northeast|13228.85|
| 30|female|32.4|       1|    no|southwest| 4149.74|
| 18|  male|34.1|       0|    no|southeast| 1137.01|
| 34|female|31.9|       1|   yes|northeast|37701.88|
| 37|  male|28.0|       2|    no|northwest|  6203.9|
+---+------+----+--------+------+---------+--------+
only showing top 25 rows

In [5]:
data.select("region", "sex").show()

+---------+------+
|   region|   sex|
+---------+------+
|southwest|female|
|southeast|  male|
|southeast|  male|
|northwest|  male|
|northwest|  male|
|southeast|female|
|southeast|female|
|northwest|female|
|northeast|  male|
|northwest|female|
|northeast|  male|
|southeast|female|
|southwest|  male|
|southeast|female|
|southeast|  male|
|southwest|  male|
|northeast|female|
|northeast|  male|
|southwest|  male|
|southwest|  male|
+---------+------+
only showing top 20 rows

In [6]:
filtered_data=data.filter(data["age"]>19)
filtered_data.show(5)

+---+------+----+--------+------+---------+--------+
|age|   sex| bmi|children|smoker|   region|expenses|
+---+------+----+--------+------+---------+--------+
| 28|  male|33.0|       3|    no|southeast| 4449.46|
| 33|  male|22.7|       0|    no|northwest|21984.47|
| 32|  male|28.9|       0|    no|northwest| 3866.86|
| 31|female|25.7|       0|    no|southeast| 3756.62|
| 46|female|33.4|       1|    no|southeast| 8240.59|
+---+------+----+--------+------+---------+--------+
only showing top 5 rows

In [8]:
aggregated_data = data.groupBy("region").max()

In [9]:
aggregated_data.show(5)

+---------+--------+--------+-------------+-------------+
|   region|max(age)|max(bmi)|max(children)|max(expenses)|
+---------+--------+--------+-------------+-------------+
|northwest|      64|    42.9|            5|      60021.4|
|southeast|      64|    53.1|            5|     63770.43|
|northeast|      64|    48.1|            5|     58571.07|
|southwest|      64|    47.6|            5|     52590.83|
+---------+--------+--------+-------------+-------------+

In [10]:
data=data.drop("region")

In [11]:
data.show(5)

+---+------+----+--------+------+--------+
|age|   sex| bmi|children|smoker|expenses|
+---+------+----+--------+------+--------+
| 19|female|27.9|       0|   yes|16884.92|
| 18|  male|33.8|       1|    no| 1725.55|
| 28|  male|33.0|       3|    no| 4449.46|
| 33|  male|22.7|       0|    no|21984.47|
| 32|  male|28.9|       0|    no| 3866.86|
+---+------+----+--------+------+--------+
only showing top 5 rows

In [12]:
collected_data=data.collect()
print(collected_data[:3])

[Row(age=19, sex='female', bmi=27.9, children=0, smoker='yes', expenses=16884.92), Row(age=18, sex='male', bmi=33.8, children=1, smoker='no', expenses=1725.55), Row(age=28, sex='male', bmi=33.0, children=3, smoker='no', expenses=4449.46)]

In [13]:
clean_data=data.dropna()

In [14]:
clean_data.show()

+---+------+----+--------+------+--------+
|age|   sex| bmi|children|smoker|expenses|
+---+------+----+--------+------+--------+
| 19|female|27.9|       0|   yes|16884.92|
| 18|  male|33.8|       1|    no| 1725.55|
| 28|  male|33.0|       3|    no| 4449.46|
| 33|  male|22.7|       0|    no|21984.47|
| 32|  male|28.9|       0|    no| 3866.86|
| 31|female|25.7|       0|    no| 3756.62|
| 46|female|33.4|       1|    no| 8240.59|
| 37|female|27.7|       3|    no| 7281.51|
| 37|  male|29.8|       2|    no| 6406.41|
| 60|female|25.8|       0|    no|28923.14|
| 25|  male|26.2|       0|    no| 2721.32|
| 62|female|26.3|       0|   yes|27808.73|
| 23|  male|34.4|       0|    no| 1826.84|
| 56|female|39.8|       0|    no|11090.72|
| 27|  male|42.1|       0|   yes|39611.76|
| 19|  male|24.6|       1|    no| 1837.24|
| 52|female|30.8|       1|    no|10797.34|
| 23|  male|23.8|       0|    no| 2395.17|
| 56|  male|40.3|       0|    no|10602.39|
| 30|  male|35.3|       0|   yes|36837.47|
+---+------+----+--------+------+--------+
only showing top 20 rows

In [15]:
fill_data=data.fillna({"sex":0,"age":"unknown"})

In [16]:
data.createOrReplaceTempView("data_view")

In [17]:
sql_data=spark.sql("SELECT *FROM data_view WHERE age>20")

In [18]:
sql_data.show()

+---+------+----+--------+------+--------+
|age|   sex| bmi|children|smoker|expenses|
+---+------+----+--------+------+--------+
| 28|  male|33.0|       3|    no| 4449.46|
| 33|  male|22.7|       0|    no|21984.47|
| 32|  male|28.9|       0|    no| 3866.86|
| 31|female|25.7|       0|    no| 3756.62|
| 46|female|33.4|       1|    no| 8240.59|
| 37|female|27.7|       3|    no| 7281.51|
| 37|  male|29.8|       2|    no| 6406.41|
| 60|female|25.8|       0|    no|28923.14|
| 25|  male|26.2|       0|    no| 2721.32|
| 62|female|26.3|       0|   yes|27808.73|
| 23|  male|34.4|       0|    no| 1826.84|
| 56|female|39.8|       0|    no|11090.72|
| 27|  male|42.1|       0|   yes|39611.76|
| 52|female|30.8|       1|    no|10797.34|
| 23|  male|23.8|       0|    no| 2395.17|
| 56|  male|40.3|       0|    no|10602.39|
| 30|  male|35.3|       0|   yes|36837.47|
| 60|female|36.0|       0|    no|13228.85|
| 30|female|32.4|       1|    no| 4149.74|
| 34|female|31.9|       1|   yes|37701.88|
+---+------+----+--------+------+--------+
only showing top 20 rows